section {
    margin-bottom: 30px;
}
h2 {
   font-size: 18px;
}
ul {
    width: 300px;
    padding: 0;
    text-align: center;
}
ul li {
    color: #ffffff;
    list-style: none;
    background: rgb(255, 150, 112);
    padding: 5px 30px;
    margin-bottom: 2px;
}
span {
   color: blue;
   font-size: 25px;
   text-decoration: underline;
}
#mouseover-list {
  display: none;
}
/* #doritos {
  display: none;
  height: 100px;
} */
.image-wrap {
  display: none;
  height: 100px;
}
